@import '../../global_styles/variables.scss';

.saved_posts {
  margin-top: 4.6rem;

  & h1 {
    margin: 0 0 -2rem 4%;
    color: $secondary-color;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
