@import '../../global_styles/variables.scss';

.saved_posts {
  margin-top: 4.6rem;

  & h1 {
    margin: 0 0 -2rem 4%;
    color: $secondary-color;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media all and (min-width: 1025px) {
  .saved {
    padding: 5rem 13% 0 13%;
  }

  .saved_posts {
    margin-top: initial;

    & h1 {
      margin: 1% 0 1rem 2%;
      position: absolute;
      color: #ebebeb;
      font-size: 1.75rem;
      font-weight: 500;
    }
  }
}
