@media all and (min-width: 1025px) {
  .posts {
    width: 65%;
    background: #282a2c;
    border-radius: 3px;
    padding-top: 0.6%;
  }

  .profile_posts {
    width: 100%;
    background: #282a2c;
    border-radius: 3px;
    padding-top: 0.6%;
  }
}
