@import '../../global_styles/variables.scss';

.loading_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;

  & h1 {
    position: absolute;
    font-size: 1.35rem;
    font-weight: 600;
    color: #51565a;
    margin: 8rem 0 0 0.5rem;
  }
}

.loading_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #51565a;
  position: relative;
  animation: loading 2s infinite;
}

.inner_circle {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background: $primary-color;
}

.loading_indicator {
  background: $primary-color;
  position: absolute;
  height: 1.5rem;
  width: 0.45rem;
  left: -3%;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading_parent_small {
  width: 100%;
  justify-content: center;
  display: flex;
  padding-top: 3rem;

  & .loading_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #5b5d5e;
    position: relative;
    animation: loading 2s infinite;
  }

  & .loading_indicator {
    background: #171819;
    position: absolute;
    height: 1.5rem;
    width: 0.45rem;
    left: -3%;
  }

  & .inner_circle {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background: #171819;
  }
}

@media all and (min-width: 1025px) {
  .loading_parent_small {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 3rem;

    & .loading_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: #5b5d5e;
      position: relative;
      animation: loading 2s infinite;
    }

    & .loading_indicator {
      background: #282a2c;
      position: absolute;
      height: 1.5rem;
      width: 0.45rem;
      left: -3%;
    }

    & .inner_circle {
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      background: #282a2c;
    }
  }
}
