.inbox_right {
  display: none;
}

@media all and (min-width: 1025px) {
  .inbox_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
  }

  .inbox_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    & h2 {
      font-size: 1.5rem;
      color: #d4d4d4;
    }

    & p {
      color: 1.1rem;
      color: #bdbdbd;
      margin-top: 0.15rem;
    }
  }

  .inbox_scroll_right {
    display: flex;
    background: #282a2c;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 13%;
    width: 66%;
    border-bottom: 1px #4b4e4e solid;
    margin-bottom: 0rem;
    padding-left: 2%;

    & h1 {
      font-size: 1.05rem;
      font-weight: 500;
      color: #e2e2e2;
    }

    & p {
      font-size: 0.8rem;
      margin-top: -0.1rem;
      color: #b0b0b0;
      font-weight: 100;
    }
  }

  .inbox {
    display: grid;
    position: relative;
    grid-template-columns: 34% 66%;
    grid-row: 1fr;
    background: #282a2c;
    width: 74%;
    height: 83vh;
    border-radius: 3px;
  }

  .messages {
    border-right: 1px #4b4e4e solid;
  }

  .inbox_scroll {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.5rem;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: #2d2e30;
    }

    &::-webkit-scrollbar-thumb {
      background: #454647;
    }
  }
}
