@import '../../../global_styles/variables.scss';

.profile_info {
  margin-top: 23vh;
  padding-left: 6%;
  border-bottom: 1px #4b4e4e solid;
  padding-bottom: 2rem;

  & img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 1rem;
    border: 1px #313333 solid;
    object-fit: cover;
  }

  & .follow_btn,
  .bio_btn,
  .message_button {
    position: absolute;
    right: 3%;
    top: 32.4%;
    width: 6rem;
    height: 2.5rem;
    font-size: 0.95rem;
    cursor: pointer;
    border-radius: 2rem;
    color: $accent-color;
    background: transparent;
    border: 0.1rem $accent-color solid;
  }

  .message_button {
    right: 30.5%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding-top: 0.2rem;
  }

  & h1 {
    font-size: 1.7rem;
    color: #dddddd;
    margin-top: 0.5rem;
  }

  & h2 {
    font-size: 1.1rem;
    color: #9d9d9d;
    font-weight: 500;
  }

  .following_btn {
    background: $accent-color;
    color: #fff;
  }
}

.profile_info_geo {
  margin-top: 1.6rem;

  & h4 {
    font-size: 1.02rem;
    color: #9d9d9d;
    font-weight: 500;
    margin-top: 0.1rem;
  }
}

.profile_info_stats {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;

  & h4 {
    font-size: 1.18rem;
    color: #aaaaaa;
    font-weight: 500;
    margin-top: 0.1rem;

    &:nth-child(2) {
      margin-left: 1.4rem;
    }

    & span {
      color: #ffffff;
    }
  }
}

@media all and (min-width: 1025px) {
  .profile_info {
    margin-top: 0vh;
    padding-left: 6%;
    border-bottom: 1px #4b4e4e solid;
    padding-bottom: 2rem;

    & img {
      border-radius: 1rem;
      width: 6rem;
      height: 6rem;
      border: 1px #313333 solid;
      object-fit: cover;
    }

    & .follow_btn,
    .bio_btn,
    .message_button {
      position: absolute;
      right: 2%;
      top: 9.9rem;
      width: 6rem;
      height: 2.5rem;
      font-size: 0.95rem;
      cursor: pointer;
      border-radius: 2rem;
      color: $accent-color;
      transition: ease 300ms;
      background: transparent;
      border: 0.1rem $accent-color solid;

      &:hover {
        background: $accent-color;
        color: #fff;
      }
    }

    .message_button {
      right: 20%;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      padding-top: 0.2rem;
    }

    .following_btn {
      background: $accent-color;
      color: #fff;

      &:hover {
        background: #ca2055;
        color: #fff;
        border: 1px #ca2055 solid;
      }
    }

    & h1 {
      font-size: 1.6rem;
      color: #dddddd;
      margin-top: 0.7rem;
    }

    & h2 {
      font-size: 1.03rem;
      color: #9d9d9d;
      font-weight: 500;
    }
  }

  .profile_info_geo {
    margin-top: 1.6rem;

    & h4 {
      font-size: 0.89rem;
      color: #9d9d9d;
      font-weight: 500;
      margin-top: 0.1rem;
    }
  }

  .profile_info_stats {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;

    & h4 {
      font-size: 1rem;
      color: #aaaaaa;
      font-weight: 500;
      margin-top: 0.1rem;

      &:nth-child(2) {
        margin-left: 1.4rem;
      }

      & span {
        color: #ffffff;
      }
    }
  }

  .profile_photo {
    position: relative;
    width: 6rem;
    height: 6rem;
  }

  .update_photo_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #282a2c;
    opacity: 77%;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 1rem;
    top: 0;
    cursor: pointer;
    transition: ease 225ms;
    transform: scale(1);

    & svg {
      position: relative;
      transform: rotate(45deg);
    }
  }

  .update_photo_plus_hidden {
    transform: scale(0);
  }
}
