@import '../../../global_styles/variables.scss';

@media all and (min-width: 1025px) {
  .post_form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 65%;
    background: #282a2c;
    border-radius: 3px;
    margin-bottom: 2.5%;
    padding: 1.3rem 2.3% 1rem 2.3%;
  }

  .post_form_file {
    position: relative;
    width: 100%;

    & input[type='file'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 5%;
      height: 80%;
    }
  }

  #post_form_input {
    width: 95%;
    height: 2.5rem;
    background: transparent;
    border-radius: 3px;
    border: none;
    color: #909090;
    font-family: 'Hind Vadodara', sans-serif;
    resize: none;
    padding: 0rem 0rem 0.55rem 0rem;
    overflow: hidden;
    font-size: 1.1rem;
    margin-left: 3.3%;
    border-bottom: 1px #4b4e4e solid;

    &::placeholder {
      font-family: 'Hind Vadodara', sans-serif;
    }

    &::-webkit-scrollbar {
      width: 0.4rem;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: #37383a;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #4d5050;
      border-radius: 1rem;
    }
  }

  .post_form_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 110%;

    & img {
      border-radius: 50%;
      height: 2.8rem;
      width: 2.8rem;
    }
  }

  .post_form_bot {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 88%;
    height: 90%;
    margin-top: 0.7rem;

    & button {
      width: 9rem;
      height: 2.5rem;
      background: $accent-color;
      border-radius: 2rem;
      border: none;
      font-size: 0.96rem;
      font-weight: 500;
      color: #fff;
      cursor: pointer;

      &:hover {
        background: #3687d3;
      }
    }
  }
}
