@import '../../../global_styles/variables.scss';

.post,
.saved_post {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 13% 84%;
  border-bottom: 1px #4b4e4e solid;
  padding: 0 4% 0 4%;
  margin-top: 1.6rem;
  position: relative;

  &:first-child {
    margin-top: 4.5rem;
  }

  &:last-child {
    margin-bottom: 4rem;
    border: none;
  }

  & .post_user_img {
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 0.12rem;
  }
}

.post_content_top {
  display: flex;
  width: 100%;
  justify-content: space-between;

  & h2 {
    font-size: 1rem;
    color: #e3e3e3;
  }

  & h3 {
    font-size: 0.94rem;
    color: #9d9d9d;
    font-weight: 100;
    margin-left: 0.5rem;
  }

  & a {
    display: flex;
    text-decoration: none;
    align-items: center;
  }
}

.post_content {
  padding-left: 5%;

  & h4 {
    font-size: 0.82rem;
    color: #9d9d9d;
    font-weight: 100;
    margin-top: 0.1rem;
  }

  & h5 {
    font-size: 1rem;
    color: #9d9d9d;
    font-weight: 500;
    margin: 0.31rem 0 1.15rem 0;
  }

  & p {
    color: #d3d3d3;
    margin-top: 0.75rem;
    font-size: 0.89rem;
  }
}

.post_icons {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;

  & .post_comment_icon {
    margin-left: 0.8rem;
  }

  & .post_share_icon {
    margin-left: 0.97rem;
  }
}

.post_file {
  width: 100%;
  margin-top: 5%;
  cursor: pointer;
}

.post_file_open {
  height: 100vh;
  width: 100%;
  cursor: pointer;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 30;
  object-fit: cover;
}

.post_options_dropdown {
  position: absolute;
  width: 50%;
  height: 7rem;
  background: $primary-color;
  border: 1px #757575 solid;
  border-radius: 0.15rem;
  right: 5.34%;
  top: 8%;

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    & li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      cursor: pointer;
      height: 100%;
      padding-left: 6%;
      list-style-type: none;
      transition: ease 300ms;
    }
  }
}

@media all and (min-width: 1025px) {
  .post {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 12% 88%;
    border-bottom: 1px #4b4e4e solid;
    padding: 0 5% 0 5%;
    margin-top: 1.6rem;
    position: relative;

    &:first-child {
      margin-top: 1.4rem;
    }

    &:last-child {
      margin-bottom: 4rem;
      border: none;
    }

    & .post_user_img {
      width: 2.8rem;
      cursor: pointer;
      height: 2.8rem;
      border-radius: 50%;
      margin-top: 0.12rem;
    }
  }

  .post_content_top {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & svg {
      cursor: pointer;
      border-radius: 50%;
      width: 2rem;
      margin-right: -0.2rem;
      transition: ease 300ms;

      & path {
        transition: ease 300ms;
      }

      &:hover {
        background: #353738;
      }
    }

    & h2 {
      font-size: 1rem;
      color: #e3e3e3;
    }

    & h3 {
      font-size: 0.94rem;
      color: #9d9d9d;
      font-weight: 100;
      margin-left: 0.5rem;
    }

    & a {
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover > h2 {
        text-decoration: underline;
      }
    }
  }

  .post_options_dropdown {
    position: absolute;
    width: 33%;
    height: 6.5rem;
    background: #282a2c;
    border: 1px #757575 solid;
    border-radius: 0.15rem;
    right: 5.34%;
    top: 2.25rem;

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      & li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        height: 100%;
        padding-left: 6%;
        list-style-type: none;
        transition: ease 300ms;

        &:hover {
          background: #36383a;
        }
      }
    }
  }

  .post_content {
    padding-left: initial;

    & h4 {
      font-size: 0.82rem;
      color: #9d9d9d;
      font-weight: 100;
      margin-top: 0.1rem;
    }

    & h5 {
      font-size: 1rem;
      color: #9d9d9d;
      font-weight: 500;
      margin: 0.31rem 0 1.35rem 0;
    }

    & p {
      color: #d3d3d3;
      margin-top: 0.75rem;
      font-size: 0.89rem;
    }
  }

  .post_icons {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;

    & svg {
      cursor: pointer;
      transition: ease 300ms;

      & path {
        transition: ease 300ms;
      }
    }

    & .post_comment_icon {
      margin-left: 0.8rem;
    }

    & .post_share_icon {
      margin-left: 0.97rem;
    }
  }

  .post_icons_like {
    margin-left: -0.42%;

    &:hover > path {
      stroke: #cc1b50;
    }
  }

  .post_share_icon {
    &:hover > g > path {
      fill: #15bd60;
    }
  }

  .post_comment_icon {
    &:hover > path {
      fill: #00aeff;
    }
  }

  .post_file {
    width: 100%;
    height: 47vh;
    object-fit: cover;
    margin-top: 3%;
    cursor: pointer;
  }

  .post_file_open {
    height: 100vh;
    width: 100%;
    cursor: pointer;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 30;
    object-fit: cover;
  }

  // Saved post
  .saved_post {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 12% 88%;
    border-bottom: 1px #4b4e4e solid;
    padding: 0 5% 0 5%;
    position: relative;
    margin-top: 1.6rem;

    &:first-child {
      margin-top: 4rem;
      border-top: 1px #4b4e4e solid;
      padding-top: 1.5rem;
    }

    &:last-child {
      margin-bottom: 4rem;
      border-bottom: none;
    }

    & .post_user_img {
      border-radius: 50%;
      width: 2.8rem;
      height: 2.8rem;
      margin-top: 0.12rem;
    }
  }

  .post_content_top {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & svg {
      cursor: pointer;
      border-radius: 50%;
      width: 2rem;
      margin-right: -0.2rem;
      transition: ease 300ms;

      & path {
        transition: ease 300ms;
      }

      &:hover {
        background: #353738;
      }
    }

    & h2 {
      font-size: 1rem;
      color: #e3e3e3;
    }

    & h3 {
      font-size: 0.94rem;
      color: #9d9d9d;
      font-weight: 100;
      margin-left: 0.5rem;
    }

    & a {
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover > h2 {
        text-decoration: underline;
      }
    }
  }

  .post_content {
    & h4 {
      font-size: 0.82rem;
      color: #9d9d9d;
      font-weight: 100;
      margin-top: 0.1rem;
    }

    & h5 {
      font-size: 1rem;
      color: #9d9d9d;
      font-weight: 500;
      margin: 0.31rem 0 1.35rem 0;
    }

    & p {
      color: #d3d3d3;
      margin-top: 0.75rem;
      font-size: 0.89rem;
    }
  }

  .post_icons {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;

    & svg {
      cursor: pointer;
      transition: ease 300ms;

      & path {
        transition: ease 300ms;
      }
    }

    & .post_comment_icon {
      margin-left: 0.8rem;
    }

    & .post_share_icon {
      margin-left: 0.97rem;
    }
  }

  .post_icons_like {
    margin-left: -0.42%;

    &:hover > path {
      stroke: #cc1b50;
    }
  }

  .post_share_icon {
    &:hover > g > path {
      fill: #15bd60;
    }
  }

  .post_comment_icon {
    &:hover > path {
      fill: #00aeff;
    }
  }

  .post_file {
    width: 100%;
    height: 47vh;
    margin-top: 3%;
    cursor: pointer;
  }

  .post_file_open {
    height: 100vh;
    width: 100%;
    cursor: pointer;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 30;
    object-fit: cover;
  }

  .saved_post .post_options_dropdown {
    position: absolute;
    width: 33%;
    height: 6.5rem;
    background: #282a2c;
    border: 1px #757575 solid;
    border-radius: 0.15rem;
    right: 5.34%;
    top: 3.4rem;

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      & li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        height: 100%;
        padding-left: 6%;
        list-style-type: none;
        transition: ease 300ms;

        &:hover {
          background: #36383a;
        }
      }
    }
  }
}
