.top_header,
.bottom_header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 3.6rem;
  background: #212324;
  border-bottom: 1px #323434 solid;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2.8% 0 2.8%;
  z-index: 5;

  & input {
    border: none;
    border-radius: 3px;
    background: #3a3b3c;
    width: 100%;
    height: 2.3rem;
    font-size: 1.07rem;
    padding: 0 0.7rem 0 0.7rem;
    color: #909090;

    &::placeholder {
      color: #909090;
    }
  }
}

.logo_icon {
  cursor: pointer;
}

.bottom_header {
  bottom: 0;
  top: initial;

  & img {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    object-fit: cover;
  }
}

.messages_icon_p2 {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 0.1rem;
}

.messages_icon_p {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 0.1rem;

  &::after {
    content: attr(data-after-content);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background: #fd5555;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    font-size: 0.7rem;
    margin-left: 5.2%;
    margin-top: 5%;
  }
}

.logo_icon {
  margin-bottom: -4%;
  margin-right: 0.1rem;
}

.nav_search {
  width: 83%;
  position: relative;
}

@media all and (min-width: 1025px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background: #212324;
    border-bottom: 1px #323434 solid;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 13% 0 13%;
    z-index: 5;
  }

  .logo_icon {
    cursor: pointer;
    margin-bottom: -4.2%;
    margin-right: 0.1rem;
  }

  .nav_left,
  .nav_right {
    display: flex;
    align-items: center;
  }

  .nav_left {
    width: 36%;

    & input {
      border: none;
      border-radius: 3px;
      background: #3a3b3c;
      width: 100%;
      height: 2.3rem;
      font-size: 1.07rem;
      padding: 0 0.7rem 0 0.7rem;
      color: #909090;
      margin-left: 0.5rem;

      &::placeholder {
        color: #909090;
      }
    }
  }

  .nav_right {
    & img {
      border-radius: 50%;
      width: 2.3rem;
      height: 2.3rem;
      border: 1px #595b5b solid;
      object-fit: cover;
    }
  }

  .saved_icon,
  .messages_icon,
  .home_icon {
    margin-right: 2.3rem;
    cursor: pointer;
  }

  .profile_icon {
    cursor: pointer;
  }

  .messages_icon_p2 {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0.1rem;
  }

  .messages_icon_p {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0.1rem;

    &::after {
      content: attr(data-after-content);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
      height: 1rem;
      background: #fd5555;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      font-size: 0.7rem;
      margin-left: 1.8%;
      margin-top: 1.3%;
    }
  }

  .nav_search {
    width: 83%;
    position: relative;
  }
}
