.suggestions {
  width: 24%;
  height: 82.89vh;
  background: #282a2c;
  border-radius: 3px;
  position: fixed;
  right: 13%;
  top: 5rem;

  & h2 {
    color: #d6d6d6;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 4.3% 0 1.2rem 7%;
  }
}
