@import '../../../global_styles/variables.scss';

.msg_menu_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.9rem;
  background: $primary-color;
  border-bottom: 1px #323434 solid;
  padding-left: 2%;
  padding-right: 3%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  & span {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    & img {
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      margin-left: 0.9rem;
    }

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & svg {
      position: relative;
      transform: rotate(-90deg);
    }
  }
}

.message_receiver {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0.6rem;

  & h1 {
    font-size: 1.13rem;
    color: #e7e7e7;
    font-weight: 500;
    margin-bottom: -1px;
  }

  & h3 {
    font-size: 0.79rem;
    color: #b0b0b0;
    font-weight: 200;
  }
}

#msg_menu_input {
  width: 95%;
  height: 2.85rem;
  background: #242424;
  border-radius: 3px;
  border: none;
  color: #909090;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Hind Vadodara', sans-serif;
  resize: none;
  padding: 0.5rem 4.5rem 0.5rem 0.8rem;
  overflow: hidden;
  font-size: 1.1rem;
  z-index: 5;

  &::placeholder {
    font-family: 'Hind Vadodara', sans-serif;
  }
}

.msg_menu_file {
  position: fixed;
  left: 4.72%;
  bottom: 2.35%;
  z-index: 5;

  & input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.message_send {
  font-size: 1rem;
  font-weight: 500;
  position: fixed;
  right: 4.3%;
  bottom: 2.8%;
  background: $accent-color;
  border-radius: 3px;
  color: #fff;
  height: 2.1rem;
  border: none;
  width: 3.8rem;
  transition: ease 300ms;
  transform: scale(1);
  z-index: 5;
}

.msg_menu_bottom_background {
  width: 100%;
  height: 4.5rem;
  background: $primary-color;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.message_send_hidden {
  cursor: not-allowed;
}

@media all and (min-width: 1025px) {
  .msg_menu_top {
    display: none;
  }

  .message_receiver {
    display: none;
  }

  #msg_menu_input {
    width: 52%;
    height: 2.6rem;
    background: #3a3b3c;
    border-radius: 3px;
    border: none;
    color: #909090;
    position: absolute;
    bottom: 2%;
    left: initial;
    right: 12%;
    transform: initial;
    font-family: 'Hind Vadodara', sans-serif;
    resize: none;
    padding: 0.37rem 0.5rem 0.5rem 0.8rem;
    overflow: hidden;
    font-size: 1.1rem;
    z-index: 5;

    &::placeholder {
      font-family: 'Hind Vadodara', sans-serif;
    }

    &::-webkit-scrollbar {
      width: 0.3rem;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background: #37383a;
    }

    &::-webkit-scrollbar-thumb {
      background: #545657;
      border-radius: 10px;
    }
  }

  .message_send {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    right: 2.4%;
    bottom: 2%;
    background: $accent-color;
    border-radius: 3px;
    color: #fff;
    height: 2.55rem;
    border: none;
    width: 9%;
    transition: ease 300ms;
    transform: scale(1);
    z-index: 5;
    cursor: pointer;

    &:hover {
      border-radius: 3px;
      background: #2b98ff;
    }
  }

  .message_send_hidden {
    cursor: not-allowed;

    &:hover {
      border-radius: 3px;
      background: $accent-color;
    }
  }

  .msg_menu_bottom_background {
    width: 64.5%;
    height: 4rem;
    background: #282a2c;
    position: absolute;
    bottom: 0;
    right: 1.32%;
    left: initial;
    z-index: 2;
  }
}
